@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

html {
    background-color: #f4f4f5 !important;
    scrollbar-width: thin;
}


.dark {
    background-color: #27272a !important;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}